.login-container {
  width: 300px;
  margin: 0 auto; /* Горизонтальне центрування */
  margin-top: 100px; /* Вертикальне центрування */
  text-align: center; /* Горизонтальне центрування тексту та блоків всередині */
}
body{
  display: flex;
  justify-content: space-around;
}
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #9822e7;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: 3px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #91b2d4;
  }
  