.register-container {
  width: 300px;
  margin: 0 auto; /* Горизонтальне центрування */
  margin-top: 100px; /* Вертикальне центрування */
  text-align: center; /* Горизонтальне центрування тексту та блоків всередині */
}
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #474103;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d1c872;
    color: rgb(255, 255, 255);
    border:  1px solid #837605;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5c4e00;
  }
  